## The following requirements were added by pip freeze:
beautifulsoup4==4.4.1
dj-database-url==0.4.1
Django>=1.11.19
django-debug-toolbar==1.4
django-extensions==1.6.7
djangorestframework==3.9.1
gunicorn==19.6.0
psycopg2==2.6.1
pytz==2016.4
requests>=2.20.0
six==1.10.0
sqlparse==0.1.19
whitenoise==3.2
